.avatar {
  border: 2px solid black;
  width: 100px;
  height: 120px;
  vertical-align: middle;
  display: inline-block;
}

.nom {
  position: relative;
  width: 300px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 50px;
}
